tiktoken
chromadb
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-chroma
flask
pydantic
pydantic-settings
python-dotenv
gitpython
numpy
-e .